* {
	font-family: Arial;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f9fbf4;
}

#conteudo, #rodape {
	display: none;
}

#topo {
	height: 120px;
	width: 840px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#logo {
	width: 146px;
	height: 36px;
	position: absolute;
	top: 52px;
	left: 47px;
	background-image: url(../img/logo_bc.gif);
	background-position: 0 0;
	font-size: 0;
}
#logo:hover {
	background-position: 0 -36px;
}

#nav {
	width: 393px;
	height: 27px;
	position: absolute;
	right: 56px;
	bottom: 27px;
}

#nav > li {
	list-style: none;
	position: absolute;
	top: 0;
	text-align: center;
	border-right: 1px dotted #AAAAAA;
}

#nav > li:nth-child(1) {
	left: 0;
	width: 20%;
}
#nav > li:nth-child(2) {
	left: 20%;
	width: 25%;
}
#nav > li:nth-child(3) {
	left: 45%;
	width: 20%;
}
#nav > li:nth-child(4) {
	right: 0;
	width: 35%;
	border-right: none;
}
















/**/
