* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: verdana;
}

#tudo {
	width: 100vw;
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
}

#corpo {
	width: 100%;
	padding: 10px;
}

#topo {
	width: 100%;
	height: 200px;
	background-image: url(../img/topo.png);
	background-position: center top;
	position: relative;
	padding-top: 30px;
}

#logo {
	width: 55%;
	margin-left: auto;
	margin-right: auto;
}
#logo img {
	width: 100%;
}

#nav {
	background-color: rgba(17, 17, 17, 0.8);
	width: 100%;
	height: 2.67em;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 15px;
}

#nav > li {
	width: 25%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	list-style: none;
}
#nav > li:nth-child(2) {
	left: 25%;
}
#nav > li:nth-child(3) {
	left: 50%;
}
#nav > li:nth-child(4) {
	left: 75%;
}

#nav > li > a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 2.67em;
}

#rodape {
	width: 100%;
	background-color: #444444;
	background-image: url(../img/rodape.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	position: relative;
	height: 130px;
}

#marca {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 160px;
	text-align: right;
	color: #FFFFFF;
	font-size: 10px;
}

#links {
	width: 86px;
	height: 80px;
	position: absolute;
	right: 10px;
	bottom: 42px;
}

#links img {
	display: block;
}

#links > li {
	list-style: none;
	position: absolute;
}

#links > li:nth-child(1) {
	bottom: 0;
	right: 0;
}

#links > li:nth-child(2) {
	right: 0;
	top: 0;
}

#links > li:nth-child(3) {
	left: 0;
	top: 0;
}

#links > li:nth-child(4) {
	left: 0;
	bottom: 0;
}













/**/
