#quad, #redondo, #quad2 {
  background: #DDDDDD;
  box-sizing: border-box;
  height: 140px;
  margin: 10px;
  width: 140px;
}

#quad {
  border-radius: 6px;
}
#redondo {
  border-radius: 50%;
}
#quad2 {
  background-clip: content-box;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  padding: 4px;
}
